{%extends "base.html"%}
{% block content %}

<p>{{ state }}</p>

<p>{{ state }}</p>

<form action="/myTransactions/" method="post">
    <div class="mb-3">
    <label for="nodePort" class="form-label">Node Port</label>
    <input type="text" class="form-control" id="nodePort" name="nodePort" aria-describedby="nodePortHelp">
    <div id="nodePortHelp" class="form-text">Enter the port of the node you would like to send this request to.</div>
  </div>

  <button type="submit" class="btn btn-primary">GetState</button>
</form>




<p>Your transactions</p>
<hr>
  {% if status == 1 %}
  {% for x in transactions %}
      {% set counter = 0 %}
      {% for b in blocks %}
        {% if x.data in b.data %}
            {% set counter = counter + 1 %}
            <div class="p-3 mb-2 bg-success text-white">{{x.data}}</div>
        {% endif %}
      {% endfor %}
      {% if counter == 0 %}
            <div class="p-3 mb-2 bg-danger text-white">{{x.data}}</div>
      {% endif %}
  {% endfor %}
  {% endif %}

  {% if status == 0 %}
  {% for x in transactions %}
      {% set counter = 0 %}
      {% for b in blocks %}
        {% if x.data in b.data %}
            {% set counter = counter + 1 %}
            <div class="p-3 mb-2 bg-secondary text-white">{{x.data}}</div>
        {% endif %}
      {% endfor %}
      {% if counter == 0 %}
            <div class="p-3 mb-2 bg-secondary text-white">{{x.data}}</div>
      {% endif %}
  {% endfor %}
  {% endif %}

{% endblock %}