{%extends "base.html"%}
{% block content %}




<form action="/transaction/" method="post">
  <div class="mb-3">
    <label for="nodePort" class="form-label">Node Port</label>
    <input type="text" class="form-control" id="nodePort" name="nodePort" aria-describedby="nodePortHelp">
    <div id="nodePortHelp" class="form-text">Enter the port of the node you would like to send this request to.</div>
  </div>
  <div class="mb-3">
    <label for="receiver" class="form-label">Receiver</label>
    <input type="text" class="form-control" id="receiver" name="receiver" aria-describedby="receiverHelp">
    <div id="receiverHelp" class="form-text">Enter the wallet address of the receiver</div>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="text" class="form-control" name="howMuch" id="amount">
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
<br>
<br>


{% endblock %}