{%extends "base.html"%}
{% block content %}




<form action="/transaction/" method="post">
    <div class="form-group">
    <label for="walletSelect">Wallet</label>
    <select class="form-control" id="walletSelect" name="walletSelect">
      {% for w in wallets %}
      <option>{{w.privateKeyN}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="receiver" class="form-label">Receiver</label>
    <input type="text" class="form-control" id="receiver" name="receiver" aria-describedby="receiverHelp">
    <div id="receiverHelp" class="form-text">Enter the wallet address of the receiver</div>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="text" class="form-control" name="howMuch" id="amount">
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
<br>
<br>


{% endblock %}